/* Estilos para el elemento con la clase "root" */
.root {
    /* Centra verticalmente el contenido */
    align-items: center;
    /* Establece el tipo de visualización */
    display: flex;
    /* Establece la altura del elemento */
    height: 32px;
    /* Establece el margen de los elementos (cajas) */
    margin: 4px;
  }
  
  /* Estilos para el elemento con la clase "arrow" */
  .arrow {
    /* Centra verticalmente y horizontalmente el contenido */
    align-items: center;
    justify-content: center;
    /* Establece el cursor del puntero */
    cursor: pointer;
    /* Establece el tipo de visualización */
    display: flex;
    /* Establece la altura y el ancho del elemento */
    height: 24px;
    width: 24px;
    /* Establece la transición y la transformación del elemento */
    transition: transform linear 0.1s;
    transform: rotate(0deg);
  }
  
  /* Estilos para los elementos secundarios de "arrow" */
  .arrow > div {
    /* Centra verticalmente y horizontalmente el contenido */
    align-items: center;
    display: flex;
  }
  
  /* Estilos para el elemento "arrow" cuando tiene la clase "is-open" */
  .arrow.is-open {
    /* Establece la transformación del elemento a una rotación de 90 grados */
    transform: rotate(90deg);
  }
  
  /* Estilos para el elemento con la clase "filetype" */
  .filetype {
    /* Establece el tipo de visualización */
    display: flex;
    padding: 6px;
    border-top-left-radius: 0.375rem; /* 6px */
    border-bottom-left-radius: 0.375rem; /* 6px */
    background-color: darkgray;
  }
  
  /* Estilos para el elemento con la clase "label" */
  .label {
    /* Establece el relleno inicial en línea del elemento */
    padding: 6px;
    background-color: rgb(156, 155, 155);
    border-top-right-radius: 0.375rem; /* 6px */
    border-bottom-right-radius: 0.375rem; /* 6px */
    color: rgb(255 255 255);
    font-weight: 900;
  }
  